body{
    background-color: black;
    color: rgba(136, 210, 26, 0.984);
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: 7;
    align-items: center;
}
#text{
    height: 700px;
    display: flex;
    align-items: center;
}